@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p></p>
    @Html.ActionLink("View Tasks", "Index", "Tasks")
    <br />
    @Html.ActionLink("View Sessions", "Index", "Sessions")
    <br />
    @Html.ActionLink("View Categories", "Index", "Categories")
    <br />
    @Html.ActionLink("Category API", "TaskCategories", "api")
</div>
